{% extends "base.html" %}

{% block content %}
<body>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem dicta voluptatibus, cumque ullam quasi excepturi, consequuntur accusamus quas labore voluptas magni? Aliquam incidunt animi ab laborum tenetur quidem consequatur natus hic, quae cupiditate aliquid nostrum alias harum, iste excepturi expedita fuga nobis non itaque inventore suscipit dolor ipsum voluptate sunt? Assumenda fugit consectetur odit asperiores odio similique, quo ex iure atque nobis architecto laboriosam iste non dignissimos unde blanditiis quia temporibus doloremque alias numquam ipsa deleniti vero quos. Eveniet corrupti dolores voluptatem. Nobis libero laudantium corrupti debitis quibusdam eos iste! Modi aut reiciendis iste nisi non eligendi quidem, quas consectetur.
</body>

{% endblock content%}