{% extends "base.html" %}

{% block content %}

<h1>Calculator</h1>
<div class="row">
    <div class="col-12">
        <form action="" method="post">
            {% csrf_token %}
            <label for="val1">Value 1
            <input type="text" id="val1" class="form-control" name="num1"></label>
            <label for="opr">Select opr
            <select name="opr" id="opr">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            </label>
            <label for="val2">Value 2
                <input type="text" id="val2" class="form-control" name="num2"></label>
                <button type="submit" style="border: 2px solid black;">Calculate</button>
                <br>
                <label for="Output">Output
                    <input type="text" id="Output" value="{{c}}">
                </label>
        </form>
    </div>
</div>



{% endblock content%}