{% extends 'base.html'%}
{% block content %}
<body>
  


    <h1>Welcome to naved and django {{bdata}}</h1>
    <img src="/static/images/one.webp" alt="" height="200">
    {% for cd in cdata %}
    <h1>{{forloop.counter}}.{{cd}}</h1>
    {% endfor %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>

        {% for d in student_details %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {%endfor%}

        {% for n in numbers%}
        <div>
            {% if n > 20 %}
            {{n}}
            {% else %}
            the number is less than 20
            {%endif%}
        </div>
        

        {%endfor%}

    </table>
    {% for i in  serviceData %} 
    <!-- <h1>{{i.service_icon}}</h1> -->
    <h1>{{i.service_des| safe}}</h1> 
    <h1>{{i.service_title| capfirst}}</h1>
        
    {% endfor %}
</body>
</html>
{% endblock %}