{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Marksheet</h1>

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="Subject1">Subject 1
            <input type="text" id="Subject1" name="Subject1">
        </label>
        <label for="Subject2">Subject 2
            <input type="text" id="Subject2" name="Subject2">
        </label>
        <label for="Subject3">Subject 3
            <input type="text" id="Subject3" name="Subject3">
        </label>
        <label for="Subject4">Subject 4
            <input type="text" id="Subject4" name="Subject4">
        </label>
        <label for="Subject5">Subject 5
            <input type="text" id="Subject5" name="Subject5">
        </label>
        <button type="submit" class="btn">Total</button>
    </form>
    <h1>Total =  {{total}}</h1>
    <h1>Percentage = {{percentage}}</h1>
    <h1>Grade = {{grade}}</h1>
</div>

<style>
.btn{
    border: 1px solid aqua;
    border-radius: 14px;
    background-color: aqua;
    padding: 8px;
    cursor: pointer;
}
</style>

{% endblock content %}