.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #ff0000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #390000;
    text-decoration: none;
}


/* jab client ko server pr data send krna hai  */